# ch04 pandas (1)

연속된 홀수와 홀수 10개를 값으로 10개의 알파벳을 인덱스로

In [7]:
from pandas import Series
import numpy as np

In [8]:
s = Series(np.arange(1, 20, 2))

In [12]:
s

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

In [9]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
s2 = Series(np.arange(1, 10, 2), ['a', 'b', 'c', 'd', 'e'])

In [13]:
s2

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [11]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

# ch04 pandas (1)

excel-comp-data.xlsx  을 DataFrame으로 읽어들여,  다음 조건에 맞는 데이터로만 구성된 DataFrame을 만들어 출력하라. 
- account 값이 다음 값
648336
109996
121213
132971
 
- 구성 컬럼:  namestreetcitystate

In [18]:
import pandas as pd # pandas 모듈 호출
import numpy as np # numpy 모듈 호출
df = pd.read_excel("실습데이터/ch04/excel-comp-data.xlsx")

In [19]:
df.index = df["account"]
del df["account"]

In [20]:
df.loc[[648336, 109996, 121213, 132971],["name", "street", "city", "state"]]

,name,street,city,state
account,,,,
648336,"Bashirian, Kunde and Price",62184 Schamberger Underpass Apt. 231,New Lilianland,Iowa
109996,"D'Amore, Gleichner and Bode",155 Fadel Crescent Apt. 144,Hyattburgh,Maine
121213,Bauch-Goldner,7274 Marissa Common,Shanahanchester,California
132971,"Williamson, Schumm and Hettinger",89403 Casimer Spring,Jeremieburgh,Arkansas